@use '../shared/styles/variables' as *;
@use '../shared/styles/colors' as *;
@use '../shared/styles/mixins' as *;

:host {
    flex: 1 1 auto;
}

.user-profile-container {
    transition: margin .1s ease, padding .1s ease;

    @include card(1rem, 2rem);
    margin: 2rem;

    @include respond-lg {
        @include card(1rem, 1rem);
        margin: 1rem .5rem;
    }
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    flex-grow: 1;
    background-color: antiquewhite;
    margin: 1rem;
    outline: solid 1rem darkorange;
    min-height: 100vh;
    min-width: max(400px, 40%);

    @include respond-lg {
        min-width: 80%;
    }
}