<section *ngIf="section$ | async as section" [commentElement]="'section'" [elementId]="sectionId" class="comment-section" role="region" [attr.aria-label]="section.title">
    <h3 class="section-header flex-container flex-space-between">
        <button class="tertiary-button" (click)="onHeaderClick()">
            {{section.title}}
        </button>
        <button class="tertiary-button material-symbols-outlined" aria-label="Add Comment" (click)="onAddComment()">
            add_circle
        </button>
    </h3>
    <div class="comment-card-list">
        <app-comment-card *ngFor="let comment of section.comments" [sectionId]="sectionId" [comment]="comment"></app-comment-card>
    </div>
</section>