@use 'colors' as *;
@use 'variables' as *;


// --------------- Text and Typography ---------------

@mixin header-text($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $header-font;
    color: inherit;
    margin: 0;
    line-height: 1;
}

@mixin body-text($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $body-font;
    color: inherit;
    margin: 0;
    line-height: 1;
}

// --------------- Buttons and Inputs ---------------

@mixin background-color-click($hover-color, $active-color) {
    &:hover {
        background-color: $hover-color;
    }

    &:active {
        background-color: $active-color;
    }
}

@mixin scale-click($scale-factor: 1.05, $shrink-factor: 0.95) {
    &:hover {
        transform: scale($scale-factor);
    }

    &:active {
        transform: scale($shrink-factor);
    }
}

@mixin color-click($hover-color, $active-color) {
    &:hover {
        color: $hover-color;
    }

    &:active {
        color: $active-color;
    }
}

@mixin outline-focus($outline-color, $outline-size: 3px) {
    outline: solid 0;
    outline-offset: 0;

    &:focus-visible {
        outline: solid $outline-size $outline-color;
    }
}

// --------------- Cards and Containers ---------------

@mixin scroll-container() {
    overflow: auto;
    scroll-behavior: smooth;

    @supports (scrollbar-color: auto) {
        scrollbar-color: $black-color-300 transparent;
    }

    @supports selector(::-webkit-scrollbar) {
        &::-webkit-scrollbar {
            background: transparent;
            width: 14px
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            border: solid 3px transparent;
            box-shadow: inset 20px 0 $black-color-300;
        }
    }
}

@mixin card($border-radius, $padding) {
    background-color: $white-color-500;
    box-shadow: $container-shadow;
    color: $black-color-500;
    border-radius: $border-radius;
    padding: $padding;
}

// --------------- Media query breakpoints ---------------
$breakpoint-sm: 37rem;
$breakpoint-md: 50rem;
$breakpoint-lg: 57rem;
$breakpoint-xl: 1200px;

@mixin respond-sm {
    @media (max-width: $breakpoint-sm) {
        @content;
    }
}

@mixin respond-md {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}

@mixin respond-lg {
    @media (max-width: $breakpoint-lg) {
        @content;
    }
}

@mixin respond-xl {
    @media (max-width: $breakpoint-xl) {
        @content;
    }
}