<div class="main"
    [class.drawer-open]="isOpen"
    [ngClass]="[position, behavior]"
    [attr.inert]="disableMain()? true : null">
    <ng-content select="[main-content]"></ng-content>
</div>
<div class="drawer drawer-shadow"
    [class.drawer-open]="isOpen"
    [ngClass]="[position, behavior]"
    aria-hidden="true"
    inert="true">
</div>
<div class="overlay-box"
    [class.active]="isOpen"
    [ngClass]="behavior"
    aria-hidden="true"
    (click)="toggleDrawer(false)">
</div>
<div #drawer class="drawer"
    [class.drawer-open]="isOpen"
    [ngClass]="[position, behavior]"
    [attr.role]="roles[behavior]"
    [attr.aria-modal]="behavior == 'overlay'? true : null"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    [attr.inert]="!isOpen? true : null">
    <ng-content select="[drawer-content]"></ng-content>
</div>
