@use 'app/shared/styles/variables' as *;
@use 'app/shared/styles/colors' as *;
@use 'app/shared/styles/mixins' as *;
// TODO import google icons with reduced list for faster load times

html {
    scroll-behavior: smooth;
    background-color: $white-color-600;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
}

// --------------- Text and Typography ---------------
h1,
.page-title {
    @include header-text($font-size-xxl, $font-weight-bold);
}

h2,
.section-title {
    @include header-text($font-size-xl, $font-weight-semibold);
}

h3,
.subsection-title {
    @include header-text($font-size-lg, $font-weight-semibold);
}


p, .body-text{
    @include body-text($font-size-md, $font-weight-normal);
}

label, .secondary-text {
    @include body-text($font-size-sm, $font-weight-normal);
}

// --------------- Text Modifiers ---------------

// Font Weights
.font-weight-light {
    font-weight: $font-weight-light;
}

.font-weight-normal {
    font-weight: $font-weight-normal;
}

.font-weight-medium {
    font-weight: $font-weight-medium;
}

.font-weight-semibold {
    font-weight: $font-weight-semibold;
}

.font-weight-bold {
    font-weight: $font-weight-bold;
}

// Font Sizes
.font-size-xs {
    font-size: $font-size-xs;
}

.font-size-sm {
    font-size: $font-size-sm;
}

.font-size-md {
    font-size: $font-size-md;
}

.font-size-lg {
    font-size: $font-size-lg;
}

.font-size-xl {
    font-size: $font-size-xl;
}

// --------------- Buttons and Inputs ---------------

button {
    padding: unset;
    margin: unset;
    border: unset;
    outline: unset;
    background: unset;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

// TODO make mixin
.special-button, .primary-button, .secondary-button, .tertiary-button {
    cursor: pointer;
    user-select: none;
    border-radius: 100rem;
    will-change: transform;
}

.special-button {
    // placeholder for special button styles
}

.primary-button {
    @include body-text($font-size-lg, $font-weight-bold);
    color: $white-color-500;

    padding: .5rem 1rem;
    background-color: $primary-color-500;

    transition: $background-color-transition,
        $scale-transition,
        $outline-transition;

    @include background-color-click($primary-color-600, $primary-color-700);
    @include scale-click();
    @include outline-focus($black-color-500);

    &.dark {
        @include outline-focus($white-color-500);
    }

    &.light {
        @include outline-focus($black-color-500);
    }
}

.secondary-button {
    @include body-text($font-size-md, $font-weight-bold);
    color: $black-color-500;

    padding: .5rem 1rem;

    transition: $background-color-transition,
        $scale-transition,
        $outline-transition;

    @include background-color-click(rgba($black-color-500, 0.1), rgba($black-color-500, 0.2));
    @include scale-click();
    @include outline-focus($primary-color-500);
}

.tertiary-button {
    border-radius: 0.5rem;

    transition: $scale-transition,
        $outline-transition;

    @include scale-click(1.10, 0.95);
    @include outline-focus($primary-color-500);
    outline-offset: 3px;
}

input {
    background-color: unset;
    outline: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

// TODO make input Mixin
.text-input {
    @include body-text($font-size-md, $font-weight-normal);
    padding: .5rem .75rem;
    border: solid 1px $black-color-500;
    color: $black-color-500;
    border-radius: .5rem;

    transition: $outline-transition;
    @include outline-focus($primary-color-500, 2px);
    outline-offset: -2px;

    &::placeholder {
        color: $black-color-100;
    }
}

.search-input {
    @include body-text($font-size-md, $font-weight-normal);
    padding: .5rem 1rem;
    background-color: $white-color-500;
    color: $black-color-500;
    border-radius: 50rem;

    width: 100%;
    max-width: 35rem;

    transition: $outline-transition;
    @include outline-focus($primary-color-500, 2px);
    outline-offset: -2px;

    &::placeholder {
        color: $black-color-100;
    }
}

.split-input {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    
    :first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    :not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    :last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    > * {
        &:hover {
            transform: unset;
        }
        &:active {
            transform: unset;
        }
    }

    button:focus-visible {
        outline-offset: -3px;
    }
}

// --------------- Containers ---------------
.inline-icon {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

// Flexbox Modifiers
.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}