@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/colors' as *;
@use '../../../shared/styles/mixins' as *;

.comment-card {
    @include card(.5rem, 1rem);

    .comment-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment-container:empty {
        display: none
    }

    * {
        outline-color: $black-color-500;
    }

    &.focus {
        outline: solid 3px #3b83f6;
        outline-offset: -3px;
    }

    .comment {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .left-padding {
        padding-left: 1rem;
    }
}